html
    head
        link(rel="stylesheet", href="/global.css", type="text/css")
    body
        #root 
            #content
                block content
            #footer
                h1 The Spark Makerspace
                h2 University of North Texas

                a thespark@unt.edu

                table
                    tr.titles
                        td Willis Library
                        td Discovery Park

                    tr.locations
                        td Room 135
                        td Room M130

                    tr.numbers
                        td (940) 369-5259
                        td (940) 565-3175
